@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

footer {
    max-width: 1440px;
    height: 523px;
    margin-top: 183px;
    background-color: #1A1A1A;
    padding: 80px 130px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-logo {
    color: #FFFFFF;
    width: 175px;
    height: 50px;
    line-height: 50px;
}

.footer-logo {
    font-size: 43px;
    font-family: "Germania One", system-ui !important;
    font-weight: 400;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 20px 0;
}

.footer-section h3 {
    display: inline-block;
    width: auto;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.footer-section ul li {
    margin-bottom: 11px;
}

.footer-section ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #BBBBBB;
}

.footer-section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 12px;
    width: 160px;
}

.footer-bottom {
    margin-top: 80px;
    text-align: left;
    padding-top: 27px;
    border-top: 1px solid #9A9A9A;
}

.footer-bottom p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    color: #FFFFFF;
}

.payment-methods li {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.payment-methods li .icon{
    margin-right: 10px;
}

.social-icons li{
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    font-size: 16px;
}

.about-section {
    display: flex;
    justify-content: space-between;
}

.about-left, .about-right {
    width: 45%;
}

.about-left, .about-right li a{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
